/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/*Main
 * 
 * 
 * 
 */
 
 
 
 #MaintextTitle
{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}
 
.Mainbutton
{
	-fx-alignment: center;
	-fx-font:20 "Courier";
	
}

.Mainbutton:hover
{
	-fx-alignment: center;
	-fx-font:23 "Courier";
	-fx-font-style: italic;
  	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Mainbutton:pressed
{
	-fx-alignment: center;
	-fx-font:24 "Courier";
	-fx-font-style: italic;
  	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}



/*Overview*/

#OverviewtextTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}


.Overviewbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"
		
}






/*NoUser */

#NoUsertextTitle
{
	-fx-alignment: center;
	-fx-font:20 "Courier";
	-fx-font-style: italic;
}

.NoUserbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"
		
}


