/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/*Main*/
  
 #MaintextTitle
{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}
 
.Mainbutton
{
	-fx-alignment: center;
	-fx-font:20 "Courier";
	
}

.Mainbutton:hover
{
	-fx-alignment: center;
	-fx-font:23 "Courier";
	-fx-font-style: italic;
  	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Mainbutton:pressed
{
	-fx-alignment: center;
	-fx-font:24 "Courier";
	-fx-font-style: italic;
  	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}



/*Overview*/

#OverviewtextTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}


.Overviewbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"
		
}
.Overviewbutton:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Overviewbutton:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}

/*NoUser */

#NoUsertextTitle
{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}

.NoUserbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"
}

.NoUserbutton:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.NoUserbutton:pressed
{
	-fx-alignment: center;
	-fx-font: 18 "Courier";
	-fx-font-style: italic;
	-fx-background-color: rgb(135, 206, 235);
	-fx-text-fill: rgb(34, 139, 34);
}

/*DeleteCon*/

#DeleteConftext{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}


.DeleteConfbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.DeleteConfbutton:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.DeleteConfbutton:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}


/*Reg*/

#RegtextTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}


.Regbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.Regbutton:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Regbutton:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}

/*Level*/
#Leveltext{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}


.Levelbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.Levelbutton:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Levelbutton:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}

/*Level4x4*/

#Level4x4textTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}

.Level4x4text{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
}


.Level4x4button
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.Level4x4button:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Level4x4button:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}


/*Level6x6*/


#Level6x6textTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}

.Level6x6text{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
}


.Level6x6button
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.Level6x6button:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Level6x6button:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}



/*Level10x10 */

#Level10x10textTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}

.Level10x10text{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
}


.Level10x10button
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.Level10x10button:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Level10x10button:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}

/*AnimalPairView*/

#AnimalPairTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}
.AnimalPairtext{
	-fx-alignment: center;
	-fx-font:20 "Courier";
	-fx-font-style: italic;
}

.AnimalPairbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.AnimalPairbutton:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}

.AnimalPairbutton:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}


/*GameCompleted*/

#GameCompletedtext{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}


.GameCompletedbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"

}
.GameCompletedbutton:hover
{
	-fx-alignment: center;
	-fx-font:17 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}

.GameCompletedbutton:pressed
{
	-fx-alignment: center;
	-fx-font:18 "Courier";
	-fx-font-style: italic;
	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}