/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/*Main*/
  
 #MaintextTitle
{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}
 
.Mainbutton
{
	-fx-alignment: center;
	-fx-font:20 "Courier";
	
}

.Mainbutton:hover
{
	-fx-alignment: center;
	-fx-font:23 "Courier";
	-fx-font-style: italic;
  	-fx-background-color:rgb(211,211,211);
	-fx-text-fill:rgb(0,0,0);
}


.Mainbutton:pressed
{
	-fx-alignment: center;
	-fx-font:24 "Courier";
	-fx-font-style: italic;
  	-fx-background-color:rgb(135,206,235);
	-fx-text-fill:rgb(34,139,34);
}



/*Overview*/

#OverviewtextTitle{
	-fx-alignment: center;
	-fx-font:25 "Courier";
	-fx-font-style: italic;
}


.Overviewbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"
		
}


/*NoUser */

#NoUsertextTitle
{
	-fx-alignment: center;
	-fx-font:15 "Courier";
	-fx-font-style: italic;
}

.NoUserbutton
{
	-fx-alignment: center;
	-fx-font:10 "Courier"
		
}

/*DeleteCon*/


#DeleteConftext
{
	-fx-alignment: center;
	-fx-font:15 "Courier";
	-fx-font-style: italic;
}

.DeleteConfbutton
{
	-fx-alignment: center;
	-fx-font:15 "Courier"		
}


/*Reg*/

.Regbutton
{
	-fx-alignment: center;
	-fx-font:10 "Courier"		
}


/*Level*/

#Leveltext
{
	-fx-alignment: center;
	-fx-font:21 "Courier";
	-fx-font-style: italic;
}

.Levelbutton
{
	-fx-alignment: center;
	-fx-font:10 "Courier"		
}


/*Level4x4*/

.Level4x4button
{
	-fx-alignment: center;
	-fx-font:12 "Courier"		
}



/*Level6x6*/

.Level6x6button
{
	-fx-alignment: center;
	-fx-font:12 "Courier"		
}


/*Level10x10 */

.Level10x10button
{
	-fx-alignment: center;
	-fx-font:16 "Courier"		
}
